@import "tailwindcss";

/* this is for prefers-scheme-color */
@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark, winter, night ; */
  themes:
    winter --default,
    night --prefersdark;
}

@layer utilities {
  .grid-cols-var {
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
  }
}

html[data-theme="winter"] .maplibregl-popup-content {
  @apply px-5;
}
html[data-theme="night"] {
  .maplibregl-popup-content {
    @apply text-white bg-gray-700;
  }

  .maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
    @apply border-t-gray-700;
  }

  .maplibregl-popup-anchor-top .maplibregl-popup-tip,
  .maplibregl-popup-anchor-top-right .maplibregl-popup-tip,
  .maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
    @apply border-b-gray-700;
  }

  .maplibregl-popup-anchor-left .maplibregl-popup-tip {
    @apply border-r-gray-700;
  }

  .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    @apply border-l-gray-700;
  }
}

.maplibregl-popup-close-button {
  @apply text-xl px-1.5;
}
